<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/images/pfp.jpeg" class="pfpImage" width="180" height="200" alt="profile photo">
        </a>
    </nav>
    <br>
    <!-- Card 1 -->
    <div class="col-lg-12 col-lg-4 mb-4">
        <div class="card1">
            <div class="card-body">
                <img src="/images/highered.jpeg" class="card-img-top text-center" alt="alpha-image1">
                <h5 class="card-title">Being a leader and impacting the lives of others is what I truly enjoy doing.
                </h5>
                <p class="card-text">I've had many leadership positions with more to come later.</p>
            </div>
            <div class="card-body">

                <form method="POST" action="insert/">
                    <input name="title">
                    <input name="post">
                    <button class="btn btn-primary" role="submit">new post</button>
                </form>


                <% profileData.forEach(result=> { %>
                    <div class="col-md-8">


                        <form method="POST" action="update/">
                            <input name="updateTitle" value="<%= result.title %>">
                            <input name="updatePost" value="<%= result.post %>">
                            <input type="hidden" name="updateId" value="<%=result._id %>">
                            <button class="btn btn-primary" role="submit"><i class="bi bi-pencil"></i></button>
                        </form>

                        <form method="POST" action="delete/">
                            <input type="hidden" name="deleteId" value="<%=result._id %>">
                            <button class="btn btn-primary" role="submit"><i class="bi bi-trash3"></i></button>
                        </form>
                    </div>
                    <% }); %>

            </div>
        </div>
    </div>
</body>

<div class="footer-clean">
    <footer class="text-center text-lg-start bg-dark text-muted">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Pages Stuffs</h3>
                    <ul>
                        <li><a href="https://github.com/SkySaunders/fantastic-couscous-sobie-profile"
                                target="_blank">See the
                                Code</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Socials</h3>
                    <ul>
                        <li><a href="https://github.com/SkySaunders" target="_blank">View my Github Projects</a></li>
                        <li><a href="https://www.linkedin.com/groups/12058862/" target="_blank">You will join the
                                LinkedIn.</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Contact Info</h3>
                    <ul>
                        <li><a>Email: ssaunders@una.edu</a></li>
                    </ul>
                    <p class="copyright"> © 2025 Copyright: Skyler Saunders</p>
                </div>
            </div>
        </div>
    </footer>
</div>