<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=pageTitle%>
    </title>
</head>

<body>
    <h1>Welcome to Render!</h1>
    <p>
        <%=pageTitle%>
    </p>
    <form method="POST" action="/saveMyName" This has a title>
        <input name="MyName">
        <input type="submit" value="Please save my name">
    </form>
    <br>
    <form method="GET" action="/saveMyNameGet">
        <input name="MyName">
        <input type="submit" value="Please save my name">
    </form>
    <br>
    <a href="/">return home</a>
</body>

</html>