.pfpImage{
  border-radius: 50%;
}

.card-img-top {
  /* margin-left: auto; */
  margin-right: 100px;
}

/* body{
  background-color: #e5e5f7;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #489f5055, #489f50 );
  height: 100%;
  background-size: 100% 100%;
} */

.col-md-8 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.card-body{
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  text-align: center;
}