.card-img-top {
  border-radius: 50%;
}

.card1{
  left: 30px;
}

.col-md-8 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.card-body{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}